<div {{ attributes }}>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">
                {{ freak.name }}
            </h5>
            <div><b>Point de vie</b>: {{ freak.pdv }}</div>
            <div><b>Expérience</b>: {{ freak.xp }}</div>
            <div><b>Or</b>: {{ freak.gold }}</div>
            <div class="mt-4"><b>Vitesse</b>: {{ freak.vitesse }}</div>
            <div><b>Force</b>: {{ freak.puissance }}</div>
            <div><b>Constitution</b>: {{ freak.constitution }}</div>
            <div><b>Dextérité</b>: {{ freak.dexterite }}</div>
            <div><b>Charisme</b>: {{ freak.charisme }}</div>
            <div><b>Intellignce</b>: {{ freak.intelligence }}</div>
            <div><b>Sagesse</b>: {{ freak.sagesse }}</div>
        </div>
    </div>
</div>