<div {{ attributes }} data-poll>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">
                {{ perso.name }} ({{ perso.race.name }})
            </h5>
            <div><b>Point de vie</b>: {{ perso.pdv }}</div>
            <div><b>Expérience</b>: {{ perso.xp }}</div>
            <div class="mt-4"><b>Vitesse</b>: {{ perso.vitesse }}</div>
            <div><b>Force</b>: {{ perso.puissance }}</div>
            <div><b>Constitution</b>: {{ perso.constitution }}</div>
            <div><b>Dextérité</b>: {{ perso.dexterite }}</div>
            <div><b>Charisme</b>: {{ perso.charisme }}</div>
            <div><b>Intellignce</b>: {{ perso.intelligence }}</div>
            <div><b>Sagesse</b>: {{ perso.sagesse }}</div>
        </div>
    </div>

    <div class="card mt-4">
        <div class="card-body">
            <h5 class="card-title">
                Actions
            </h5>
            <ul>
                <li><a href="{{ path('app_inventaire') }}">Inventaire</a></li>
                <li><a href="{{ path('app_perso_quests', {perso_id: perso.id}) }}">Quêtes</a></li>
            </ul>
        </div>
    </div>
</div>