<b>{{ quest.name }}</b>

<div class="card">
    <div class="card-body">
        <h5 class="card-title">{{ quest.questSteps[0].name }}</h5>
        {{ quest.questSteps[0].description }}

        
            <div class="mt-4 text-center">
                {% if quest not in app.user.quests %}
                    <button 
                        class="btn btn-success"
                        hx-trigger="click" 
                        hx-get="{{ path('app_partiel_aventure_city_pnj_dialog_accepte', {city_id: city.id, pnj_id: pnj.id, quest_id: quest.id}) }}"
                    >Accepter</button>
                    <button 
                        hx-trigger="click" 
                        hx-get="{{ path('app_partiel_aventure_place', {id: perso.place.id}) }}"
                        class="btn btn-danger"
                    >Décliner</button>
                {% endif %}
                {% if quest in app.user.quests %}
                    <button 
                        class="btn btn-danger"
                        hx-trigger="click" 
                        hx-get="{{ path('app_partiel_aventure_city_pnj_dialog_decline', {city_id: city.id, pnj_id: pnj.id, quest_id: quest.id}) }}"
                    >Décliner</button>
                {% endif %}
            </div>
        
    </div>
</div>