{% extends 'base_aventure.html.twig' %}

{% block sstitle %}{{ place.name }}{% endblock %}

{% block breadcrumb %}
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item" aria-current="page">
                            <a href="{{ path('app_map_index') }}">{{ place.city ? place.city.zone.name : place.zone.name }}</a>
                        </li>
                        {% if place.city != null %}
                            <li class="breadcrumb-item" aria-current="page">
                                <a href="{{ path('app_city_show', {city_id: place.city.id}) }}">{{ place.city.name }}</a>
                            </li>
                        {% endif %}
                        <li class="breadcrumb-item active" aria-current="page">
                            {{ place.name }}
                        </li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <style>
        body {
            background-image: url({{ vich_uploader_asset(place) }});
            background-position: center center;
            background-size: cover;
            background-attachment: fixed;
        }
    </style>

    <div class="row">
        {% if place.donjon == false %}
            {% for pnj in place.pnjs %}
                <div class="col col-2">
                    <div class="card mb-4 bg-dark">
                        <img src="{{ vich_uploader_asset(pnj) }}" class="card-img-top" alt="{{ pnj.name }}">
                        <div class="card-body">
                            <h5 class="card-title">{{ pnj.name }} ({{ pnj.job.name }})</h5>

                            {% if pnj.quests |length > 0 %}
                                {% for quest in pnj.quests %}
                                    <p>
                                        <a class="btn btn-success" href="{{ path('app_quest_show', {'quest_id': quest.id}) }}">Quête: {{ quest.name }}</a>
                                    </p>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <div class="col col-12">
                <div class="card mb-4 bg-dark">
                    <div class="card-body">
                        {{ story.description |raw }}
                        <div class="mt-5 text-center">
                            {% if story.type.id == 3 %}
                                <a href="{{ path('app_place_fight', {'place_id': place.id, 'freak_id': freak.id}) }}" class="btn btn-success">Combattre</a>
                            {% endif %}
                            <a href="{{ path('app_place_show', {'place_id': place.id}) }}" class="btn btn-success">Continuer à explorer</a>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}
