<div class="row">
    <div class="col-10">
        {% if app.session.has('fight') %}
            <button
                hx-get="{{ path('app_partiel_place_fight_atk', {place_id: place.id, story_id: story.id}) }}"
                hx-trigger="click"
                hx-target="#story"
                class="btn btn-success"
            >
                Attaquer
            </button>
            <button
                hx-get="{{ path('app_partiel_place_fight_flee', {place_id: place.id, story_id: story.id}) }}"
                hx-trigger="click"
                hx-target="#story"
                class="btn btn-secondary"
            >Fuir</button>
        {% else %}
            <button
                hx-get="{{ path('app_partiel_place_fight_flee', {place_id: place.id, story_id: story.id}) }}"
                hx-trigger="click"
                hx-target="#story"
                class="btn btn-success"
            >Continuer l'exporation</button>
        {% endif %}

        {% for step in steps |reverse %}
            <div>{{step}}</div>
        {% endfor %}
    </div>

    <div class="col-2">

        {% if app.session.has('fight') %}
            {{ include('shared/_freak.html.twig') }}
        {% endif %}
    </div>
</div>