<div class="card">
    <div class="card-body">
        <h5 class="card-title">{{ story.place.name }}</h5>

        {{ include('shared/_alert.html.twig') }}

        <p>Test de {{ story.placeTest.skill }} à {{ story.placeTest.difficulty }}</p>

        <p>Lancer de dé: {{ ddresult }}</p>

        {% if ddresult > story.placeTest.difficulty %}
            <p>{{ story.placeTest.textSuccessed }}</p>
            <div class="mb-3">
                Vous avez gagné: {{ story.placeTest.xp }} points d'XP
            </div>
        {% else %}
            <p>{{ story.placeTest.textFailed }}</p>
        {% endif %}

        <a
            href="{{ path('app_place_story', {place_id: place.id}) }}"
            hx-trigger="click"
            hx-target="#story"
            class="btn btn-success"
        >
            Poursuivre l'exploration
        </a>

        <a
            href="{{ path('app_place_show', {place_id: place.id}) }}"
            class="btn btn-secondary"
        >
            Revenir au camps
        </a>
    </div>
</div>