<div class="container-fluid">
    <div class="row">
        <div class="col">
            {% for pnj in place.pnjs %}
                <div class="card mb-4">
                    <div class="card-body">
                        <h5 class="card-title">{{ pnj.name }} (<span>{{ pnj.job.name }}</span>)</h5>
                        {% for quest in pnj.quests %}
                            <div 
                                hx-trigger="click" 
                                hx-get="{{ path('app_partiel_city_place_quest', {city_id: city.id, place_id: place.id, quest_id: quest.id}) }}"
                                class="btn btn-primary"
                                hx-target="#dialog"
                            >{{ quest.name }}</div>
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="col">
            <div id="dialog"></div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <a 
                hx-trigger="click" 
                hx-get="{{ path('app_partiel_city_show', {city_id: city.id}) }}"
                class="btn btn-secondary" 
                aria-current="page"
            >Quitter ce lieux</a>
        </div>
    </div>
</div>