{% extends 'base_aventure.html.twig' %}

{% block sstitle %}Home page{% endblock %}

{% block content %}
    <style>
        body {
            background-image: url(/img/map.png);
            background-position: center center;
            background-size: cover;
        }
    </style>

    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                {% for zone in zones %}
                    <div class="card bg-dark">
                        <div class="card-body">
                            <h5 class="card-title">Zone {{ zone.id }} : {{ zone.name }}</h5>

                            {% for city in zone.cities %}
                                <div class="card mb-4">
                                    <div class="card-body">
                                        <h5 class="card-title">
                                            <a href="{{ path('app_city_show', {city_id: city.id}) }}">{{ city.name }}</a>
                                        </h5>
                                        <ul>
                                            {% for place in city.places %}
                                                <li>{{ place.name }}</li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                            {% endfor %}

                            <ul>
                                {% for place in zone.places %}
                                    {% if place.city == null %}
                                        <li><a href="{{ path('app_place_show', {place_id: place.id}) }}">{{ place.name }}</a> {% if place.donjon %}(Donjon){% endif %}</li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
