<nav class="navbar navbar-expand-lg bg-body-tertiary fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand text-white" href="{{ path('app_home') }}">DADANEE | L'épreuve des héros</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    <li class="nav-item">
                        <a class="nav-link text-white" href="{{ path('app_home') }}"><i class="fa-solid fa-home"></i> Accueil</a>
                    </li>

                    {% if app.session.has('perso_id')  %}
                        <li class="nav-item">
                            <a class="nav-link text-white" href="{{ path('app_map_index') }}"><i class="fa-solid fa-map-location-dot"></i> Carte</a>
                        </li>
                    {% endif %}
                {% endif %}
            </ul>
            <ul class="navbar-nav">
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            {{ app.user.email }}
                        </a>
                        <ul class="dropdown-menu">
                            <a class="nav-link" href="{{ path('app_perso_index') }}"><i class="fa-solid fa-users"></i> Persos</a>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="{{ path('app_logout')}}">Déconnexion</a></li>
                        </ul>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link text-white" href="{{ path('app_login') }}"><i class="fa-solid fa-home"></i> Connexion</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="{{ path('app_register') }}"><i class="fa-solid fa-users"></i> Créer un compte</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>