<nav class="navbar navbar-expand-lg bg-body-tertiary fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand text-white" href="{{ path('app_home') }}">DADANEE | L'épreuve des héros</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    <li class="nav-item">
                        <a class="nav-link text-white" href="{{ path('app_home') }}"><i class="fa-solid fa-home"></i> Accueil</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="{{ path('app_perso_index') }}"><i class="fa-solid fa-users"></i> Persos</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link text-white" href="{{ path('app_login') }}"><i class="fa-solid fa-home"></i> Connexion</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="{{ path('app_register') }}"><i class="fa-solid fa-users"></i> Créer un compte</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>